.our {
  &__subtatle {
    @include useFlex;
    margin-bottom: 80px;
    h2 {
      font-weight: 300;
      font-size: 48px;
      line-height: 48px;
    }
  }
  .btn {
    padding: 13px 38px;
    background-color: $color-FFF;
    cursor: pointer;
    font-family: "Alata";
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 5px;
    transition: 0.4s;
  }
  .btn:hover {
    background-color: #000;
    color: $color-FFF;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
    margin-bottom: 184px;
  }
  &__image:hover {
    opacity: 0.3;
  }
  &__mobi {
    display: none;
    h2 {
      font-weight: 300;
      font-size: 32px;
      line-height: 32px;
      text-align: center;
      margin-bottom: 48px;
    }
  }
  &__mobi-cards {
    display: flex;
    row-gap: 24px;
    flex-direction: column;
    align-items: center;
  }
  .btnN {
    display: block;
    padding: 13px 38px;
    background-color: $color-FFF;
    cursor: pointer;
    font-family: "Alata";
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 5px;
    transition: 0.4s;
    margin-bottom: 96px;
  }
}

@media only screen and (max-width: 768px) {
  .our__desktop {
    display: none;
  }
  .our__mobi {
    display: block;
  }
}
